<mat-card>
  <h1 class="mat-title">Responsive images with Angular</h1>
  <mat-list>
    <mat-list-item>Responsive image sizes</mat-list-item>
    <mat-list-item>Support for next gen formats</mat-list-item>
    <mat-list-item
      >Optional lazy loading using an IntersectionObserver (if supported by
      browser)
    </mat-list-item>
    <mat-list-item>Universal SSR friendly</mat-list-item>
  </mat-list>
</mat-card>
<mat-card>
  <h2 class="mat-h2">Breakpoints</h2>
  <mat-list>
    <mat-list-item *ngFor="let breakpoint of breakpoints"
      ><span class="mat-body-1">{{ breakpoint }}</span></mat-list-item
    >
  </mat-list>
</mat-card>
<mat-card>
  <h2 class="mat-h2">ngx picture</h2>
  <ngx-picture
    src="assets/images/banner.jpg"
    alt="test"
    [lazyLoad]="true"
    #picture
  ></ngx-picture>
  <p class="mat-body-1">{{ pictureDetails$ | async }}</p>
</mat-card>
